.landing-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 100px;
  }
  
  @keyframes neonTravel {
    0% {
      text-shadow: 0 0 10px transparent;
    }
    25% {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
    }
    50% {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    }
    75% {
      text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
    }
    100% {
      text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green;
    }
  }
  
  .landing-page .header {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
    animation: neonTravel 4s linear infinite;
    color: white;
  }
  
  
  
  .landing-page .buttons-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .landing-page .buttons-container .button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3d2963;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 20%;
  }
  
  .landing-page .buttons-container .button-group .game-button {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .landing-page .buttons-container .button-group .btn-2048 {
    background-color: #009688;
  }
  
  .landing-page .buttons-container .button-group .btn-candy-crush {
    background-color: #ff4081;
  }
  
  .landing-page .buttons-container .button-group .btn-flappy-bird {
    background-color: #f44336;
  }
  
  .landing-page .scores-container {
    background-color: #3d2963;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%;
  }
  